<div class="row">
    <div class="col-lg-6 mb-4">
        <div class="card bg-primary text-white shadow">
            <div class="card-body">
                Consumed Leaves
                <div class="text-white-50 small">{{leavesCount.availedLeaved}}</div>
            </div>
        </div>
    </div>
    <div class="col-lg-6 mb-4">
        <div class="card bg-success text-white shadow">
            <div class="card-body">
                Pending Leaves
                <div class="text-white-50 small">{{leavesCount.pendingLeaves}}</div>
            </div>
        </div>
    </div>
    <div class="col-lg-6 mb-4">
        <div class="card bg-info text-white shadow">
            <div class="card-body">
                Rejected Leaves
                <div class="text-white-50 small">{{leavesCount.rejectedLeaves}}</div>
            </div>
        </div>
    </div>
    <div class="col-lg-6 mb-4">
        <div class="card bg-warning text-white shadow">
            <div class="card-body">
                Remaining Leaves
                <div class="text-white-50 small">{{leavesCount.remainingLeaves}}</div>
            </div>
        </div>
    </div>
</div>
